<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <!-- META SECTIONS (OPTIMIZACIÓN PARA MOTORES DE BÚSQUEDA) -->
    <title>Roll Cafe - Sushi Auténtico, Rollos Frescos y Delicias Locales</title>
    <meta name="description" content="Visita Roll Cafe para el mejor sushi, rollos frescos y sabores japoneses. ¡Ordena en línea o explora nuestro menú exclusivo hoy!">
    <!-- META SECTIONS (OPTIMIZACIÓN PARA MOTORES DE BÚSQUEDA) -->
    <!-- Sortable  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <!-- Import Vue -->
    <script src="Vue3.js"></script>
    <!-- Link Stylesheet -->
    <link rel="stylesheet" href="styles.css">
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <!--Script API Email-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <!-- API Key -->
    <script type="text/javascript"> emailjs.init('Yd4oW1Y5UFe4HRk21')</script>
    <!--Script Alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div id="app">
        <!-- Encabezado -->
        <header>
            <a href="#" class="logo"><img id="logo" src="./logo.png" width="60px" height="60px">Roll Cafe</a>
            <ul class="navlist">
                <li><a href="#home" class="active">Inicio</a></li>
                <li><a href="#about">Nosotros</a></li>
                <li><a href="#shop">Nuestra Tienda</a></li>
                <li><a href="#review">Nuestros Clientes</a></li>
                <li><a href="#contact">Contáctanos</a></li>
            </ul>
            <div class="nav-icons">
                <a href="#"><i class="bx bx-cart"></i></a><span>({{ cart.length }})</span>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
        </header>

        <!-- Sección Inicio -->
        <section id="home" class="home">
            <div class="home-text">
                <h1>Conoce, <span>Come &</span><br>Disfruta el verdadero<br>sabor</h1>
                <a href="#" class="btn">Explorar Menú <i class="bx bxs-right-arrow"></i></a>
                <a href="#" class="btn-2">Ordenar Ahora</a>
            </div>
            <div class="home-img">
                <img src="img/hero.png">
            </div>
        </section>

        <!-- Contenedor -->
        <section class="container">
            <div class="container-box">
                <i class="bx bxs-hourglass"></i>
                <h3>11:00 am - 8:00 pm</h3>
                <a href="#">Horario de Trabajo</a>
            </div>
            
            <div class="container-box">
                <i class="bx bxs-location-plus"></i>
                <h3>Roll Cafe 555</h3>
                <a href="#">Cómo Llegar</a>
            </div>
            
            <div class="container-box">
                <i class="bx bxs-phone"></i>
                <h3>(427) 111-22-33</h3>
                <a href="#">Llámanos Ahora</a>
            </div>
        </section>

        <!-- Sección Nosotros -->
        <section class="about" id="about">
            <div class="about-img">
                <img src="img/about.png">
            </div>
            <div class="about-text">
                <h2>Vivir bien comienza<br>con comer bien.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laboriosam neque molestias voluptatum minima beatae aliquid eveniet quam minus. Placeat excepturi quis sequi temporibus earum quam molestiae illum qui eos.</p>
                <a href="#" class="btn">Explorar Tienda <i class="bx bxs-right-arrow"></i></a>
            </div>
        </section>

        <!-- Sección Nuestra Tienda -->
        <section class="shop" id="shop">
            <div class="middle-text">
                <h4>Nuestra Tienda</h4>
                <h2>Veamos los Productos Populares</h2>
            </div>
            <div class="category-filter">
                <select id="category-select" v-model="selectedCategory">
                    <option value="all">Todos los productos</option>
                    <option value="rollos">Rollos</option>
                    <option value="platanos">Plátanos</option>
                    <option value="esquimos">Esquimos</option>
                    <option value="fresas">Fresas y fruta</option>
                </select>
            </div>
            <div class="shop-content">
                <shop-item v-for="(product, index) in filteredProducts" 
                    :key="index"
                    :image-src="product.image" 
                    :product-name="product.name" 
                    :product-description="product.description" 
                    :price="product.price" 
                    :product-tipo="product.tipo"
                    @open-modal="openModal">
                </shop-item>
            </div>
            
            <!-- Modal Condicional -->
            <modal v-if="isModalOpen" 
            :product="selectedProduct" 
            @close="closeModal"
            @confirm="addToCart">
            </modal>
        </section>

        <!-- Sección Carrito -->
        <section class="cart" id="cart" v-if="cart.length">
            <h2>Tu Carrito</h2>
            <div class="cart-items">
                <div class="cart-item list" v-for="(item, index) in cart" :key="item.id">
                    <card-product
                        :item="item"
                        :index="index"
                        @remove-from-cart="removeFromCart(index)"
                    ></card-product>
                </div>
            </div>
            <h3 class="sub-total">Total: ${{ totalPrice }}</h3>
        
            <!-- Información de Envío -->
            <div class="contact-form">
                <form id="myform">
                    <div class="Nombre">
                        <input type="text" name="Nombre" id="Nombre" placeholder="Ingresa tu nombre" required minlength="3" maxlength="30">
                    </div>
                    <div class="Metodo">
                        <select name="Método" id="Metodo" required>
                            <option value=" ">Selecciona método de pago</option>
                            <option value="Efectivo">Efectivo</option>
                            <option value="Tarjeta">Tarjeta de Crédito</option>
                        </select>
                    </div>
                    <div class="telefono">
                        <input type="tel" name="teléfono" id="telefono" placeholder="Ingresa tu número de teléfono" required minlength="10" maxlength="15">
                    </div>
                    <div class="confirmar-telefono">
                        <input type="tel" name="confirmar" id="confirmar" placeholder="Confirma tu número de teléfono" required minlength="10" maxlength="15">
                    </div>
                    <div class="Fecha">
                        <label for="Fecha">Ingresa la fecha en que recogerás tu pedido</label>
                        <input type="date" name="Fecha" id="Fecha" required>
                    </div>
                    <br>
                    <div class="enviar" id="enviar">
                        <button type="button" @click="checkout">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
        
        <!-- Mensaje de Carrito Vacío -->
        <section class="empty-cart" v-else>
            <h2>Tu carrito está vacío</h2>
            <a href="#shop" class="btn">Comprar Ahora</a>
        </section>

        <!-- Sección Reseñas -->
        <section class="reviews" id="review">
            <div class="middle-text">
                <h4>Nuestros Clientes</h4>
                <h2>Reseñas de Clientes sobre Nuestra Comida</h2>
            </div>
            <div class="review-content">
                <review-item 
                    review-text="Lorem ipsum dolor sit amet consectetur adipisicing elit." 
                    reviewer-image="img/r1.jpg" 
                    reviewer-name="Juan Gómez" 
                    reviewer-job="Vlogger de Comida">
                </review-item>
    
                <review-item 
                    review-text="Gran sabor y excelente servicio al cliente." 
                    reviewer-image="img/r2.jpg" 
                    reviewer-name="Jade Mitsuri" 
                    reviewer-job="Bloguera de Comida">
                </review-item>
                
                <review-item 
                    review-text="¡Me encanta la comida aquí! Siempre está fresca y deliciosa." 
                    reviewer-image="img/r3.jpg" 
                    reviewer-name="Julián Aníbal" 
                    reviewer-job="Crítico Gastronómico">
                </review-item>
            </div>
        </section>

        <!-- Sección Contáctanos -->
        <section class="contact" id="contact">
            <div class="contact-content">
                <div class="contact-text">
                    <h2>Contáctanos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                    <div class="social">
                        <a href="#" class="clr"><i class="bx bxl-facebook"></i></a>
                        <a href="#"><i class="bx bxl-instagram"></i></a>
                        <a href="#"><i class="bx bxl-twitter"></i></a>
                        <a href="#"><i class="bx bxl-google"></i></a>
                    </div>
                    <div class="details">
                        <div class="main-d">
                            <a href="#"><i class="bx bxs-location-plus"></i>Dirección</a>
                        </div>
                        <div class="main-d">
                            <a href="#"><i class="bx bxl-youtube"></i>ZLostTK</a>
                        </div>
                        <div class="main-d">
                            <a href="#"><i class="bx bxs-bell"></i>Suscríbete</a>
                        </div>
                        <div class="main-d">
                            <a href="#"><i class="bx bx-mobile-alt"></i>(427) 111-22-33</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Botón Scroll Top -->
    <a href="#" class="scroll">
        <i class="bx bx-up-arrow-alt"></i>
    </a>

    <!-- Scripts -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
    <script src="scripts/script.js"></script>
</body>
</html>
